[submodule "socket-server"]
	path = socket-server
	url = git@github.com:sansroman/E-learning-socket-server.git
[submodule "web-client"]
	path = web-client
	url = git://github.com/TOKdawn/Outsourcing-competition.git
[submodule "media-server"]
	path = media-server
	url = git@github.com:sansroman/E-learning-media-server.git
